footer {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2rem 1rem 2rem;
    border-top: 1px solid #666262;
}

footer ul {
    display: flex;
    gap: .8rem;
}

.face {
    color: #0c87ef;
}

.insta {
    color: #e41b5b;
}

.linkedin {
    color: #0a66c2;
}

span {
    font-size: larger;
    color: #3178c6;
}